/***************** basic details ****************************/

.productNameStyle {
  font-size: 32px;
  color: black;
}

.strikeStyle {
  display: inline;
}
/***************** social media ****************************/

.flexContainerSocial {
  display: flex;
}

.socialMediaButtons {
  margin: 3px;
}

/***************** prices ****************************/

.flexContainer {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/***************** styles selection ****************************/

.imgStyling {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circleStyling {
  float: left;
  position: relative;
  border-radius: 50%;
  background-color: black;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 10px;
}

.circleStyling:hover {
  border-color: hsl(171, 100%, 41%);
  border-style: solid;
  border-width: 2px;
}

.rowStyle {
  width: 380px;
  height: 80px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.containerStyle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.regularStyleBorder {
  border: white;
}

.selectedStyleBorder {
  border-color: hsl(171, 100%, 41%);
  border-style: solid;
  border-width: 2px;
}

/***************** reviews ****************************/

.starContainerStyling {
  margin: 0px;
}

.readAllReviews {
  cursor: pointer;
  font-size: 13px;
}

.readAllReviews:link {
  font: black;
}

/***************** add to cart ****************************/

.cartContainer {
  width: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/** first row ***/

.cartFirstRowContainer {
  display: flex;
  justify-content: space-between;
  width: 360px;
  flex-direction: row;
  margin-bottom: 10px;
}

.dropdown-containerSize {
  width: 230px;
  margin-right: 15px;
}

.dropdown-containerNumber {
  width: 130px;
}

.selectStyling {
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: white;
  border: 2px solid hsl(171, 100%, 41%);
  color: hsl(171, 100%, 41%);
  transition: color 0.2s ease, background-color 0.3s ease;
  text-align: center;
  text-align-last: center;
  font-size: 20px;
}

.selectStyling:hover {
  color: white;
  background-color: hsl(171, 100%, 41%);
}

/** second row ***/

.cartSecondRowContainer {
  display: flex;
  justify-content: space-between;
  width: 360px;
  flex-direction: row;
}

.addToCartContainer {
  width: 280px;
  margin-right: 15px;
}

.addToCartButton {
  width: 280px;
  color: hsl(171, 100%, 41%);
  background: #ffffff;
  padding: 15px;
  border: 2px solid hsl(171, 100%, 41%);
  transition: all 0.3s ease 0s;
  display: block;
  margin-right: 15px;
  text-align: center;
  text-align-last: center;
  font-size: 20px;
  font-weight: bold;
}

.addToCartButton:hover {
  color: #ffffff;
  background: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  transition: all 0.3s ease 0s;
}

.favoritesContainer {
  width: 65px;
  border: solid black;
}

.favoritesButton {
  width: 65px;
  color: hsl(171, 100%, 41%);
  background: #ffffff;
  padding: 15px;
  border: 2px solid hsl(171, 100%, 41%);
  transition: all 0.3s ease 0s;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.favoritesButton:hover {
  color: #ffffff;
  background: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
  transition: all 0.3s ease 0s;
}
