.card {
  height: 100%;
}

.actionButton {
  display: block;
  border: none;
  background: none;
  margin-right: 0;
  margin-left: auto;
}

/* NEW CSS */

/* Style the button and place it in the middle of the container/image */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-around; */
}

.flex-container-info {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
