tbody {
  display: block;
  max-height: calc(25vh);
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table {
  width: 100%;
  table-layout: auto;
}
tr {
  border-bottom: 2px solid rgba(31, 105, 93, 0.815);
}
tr th {
    font-size: larger;
    font-style: italic;
}
.is-feature {
    font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.scroll {
    -ms-overflow-style: none;
}