.is-vertical-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.directionalButton {
  padding: 0;
  border: none;
  background: none;
}

.transparent-icon {
  opacity: 0.00;
}